step-function-template.json
{
    "Comment": "Demo a step function for QC parallel processing using lambda functions",
    "StartAt": "Start QC",
    "States": {
      "Start QC": {
        "Comment": "The start-qc function seeds a new row in the QC Summary table.",
        "Type": "Task",
        "Resource": "arn:aws:lambda:MY-REGION:MY-ACCOUNT-ID:function:start-qc",
        "Next": "Parallel Processing"
      },

      "Parallel Processing": {
        "Comment": "The Parallel state invokes 3 lambda functions in parallel.",
        "Type": "Parallel",
        "Next": "Wait State",
        "Branches": [
          {
            "StartAt": "QC Process 1",
            "States": {
              "QC Process 1": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:MY-REGION:MY-ACCOUNT-ID:function:qc-process1",
                "End": true
              }
            }
          },
          {
            "StartAt": "QC Process 2",
            "States": {
              "QC Process 2": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:MY-REGION:MY-ACCOUNT-ID:function:qc-process2",
                "End": true
              }
            }
          },
          {
            "StartAt": "QC Process 3",
            "States": {
              "QC Process 3": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:MY-REGION:MY-ACCOUNT-ID:function:qc-process3",
                "End": true
              }
            }
          }
        ]
      },
      "Wait State": {
        "Comment": "Allow time for eventual consistency in DynamoDB table.",
        "Type": "Wait",
        "Seconds": 2,
        "Next": "End QC Processing"
      },
      "End QC Processing": {
        "Comment": "Read the row in the summary table and check if stream passes all processes.",
        "Type": "Task",
        "Resource": "arn:aws:lambda:MY-REGION:MY-ACCOUNT-ID:function:end-qc",
        "Next": "Send Summary"
      },
      "Send Summary": {
        "Comment": "Send a pass/fail message to an SNS topic.",
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:MY-REGION:MY-ACCOUNT-ID:qc-results-group1",
          "Message": {
            "GroupID.$": "$.GroupID",
            "StreamID.$": "$.StreamID",
            "TotalPass.$": "$.TotalPass",
            "StartTime.$": "$.StartTime",
            "QCPID.$": "$.QCPID"
          }
        },
        "End": true
      }
    }
}